.wrapper-heading {
    padding: 100px;
}

.wrapper-heading h2 {
    color: #5a5a5a;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: -.05rem;
    line-height: 1;
    margin: 0px;
}

.wrapper-heading p {
    font-size: 1.25rem;
    font-weight: 300;
}

.cardImage {
    background-color: rgb(238, 238, 238);
    height: 380px;
    width: 390px;
    float: right;
    margin-top: -170px;
}